<div id="<%= dom_id test_user %>">
  <p>
    <strong>Email:</strong>
    <%= test_user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= test_user.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= test_user.desc %>
  </p>

</div>
